PORT=8000;
MONGODB_URI=mongodb+srv://priyanshu:verma12345@cluster0.fa1pct5.mongodb.net
DB_NAME=videotube
CROS_ORIGINE=*
ACCESS_TOEKN_SECRET=NNY9685dtvgf5rfnihijk7f545
grkgflvoi0erpido
ACCESS_TAKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=NjnvFDRFhbFFBNNhvgvBhGFgyb65GN7gunMK8IuHGBCsvb5GB
REFRESH_TOKEN_EXPIRY=10d